<!--
  inicio del bloque html:
  formulario principal: para observar los datos de Usuario y Perfil
-->
<p-card header="Perfil de: {{usuarioGYM.nombre}}">
  <div class="field grid">
    <label for="nombre" class="col-fixed" style="width: 100px;">Nombre</label>
    <div class="col">
        <p-floatLabel>
          <div *ngIf="usuarioGYM.nombre !== ''; else elseBlock">
            <input pInputText id="nombre" type="text" [(ngModel)]="usuarioGYM.nombre" [disabled]="true"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
          <ng-template #elseBlock>
            <input pInputText id="nombre" type="text" [(ngModel)]="usuarioGYM.nombre" [disabled]="true"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary ng-invalid ng-dirty">
          </ng-template>
        </p-floatLabel>
    </div>
  </div>
  <div class="field grid">
    <label for="apellido" class="col-fixed" style="width:100px">Apellidos</label>
    <div class="col">
      <p-floatLabel>
        <div *ngIf="usuarioGYM.apellidos !== ''; else elseBlock">
          <input pInputText id="apellido" type="text" [(ngModel)]="usuarioGYM.apellidos" [disabled]="true"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <ng-template #elseBlock>
          <input pInputText id="apellido" type="text" [(ngModel)]="usuarioGYM.apellidos" [disabled]="true"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary ng-invalid ng-dirty">
        </ng-template>
      </p-floatLabel>
    </div>
  </div>
  <div class="grid">
    <label for="email" class="col-fixed" style="width:100px">Email</label>
    <div class="col">
      <p-floatLabel>
        <div *ngIf="usuarioGYM.email !== ''; else elseBlock">
          <input pInputText id="email" type="text" [(ngModel)]="usuarioGYM.email" [disabled]="true"
            class="text-base text-color surface-overlay p-2 border-1 w-4 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <ng-template #elseBlock>
          <input pInputText id="email" type="text" [(ngModel)]="usuarioGYM.nombre" [disabled]="true"
            class="text-base text-color surface-overlay p-2 border-1 w-4 border-solid surface-border border-round appearance-none outline-none focus:border-primary ng-invalid ng-dirty">
        </ng-template>
      </p-floatLabel>
    </div>
  </div>
  <div class="field grid">
    <label for="sexo" class="col-fixed" style="width:100px">Sexo</label>
    <div class="col">
      <p-floatLabel>
        <div *ngIf="perfilU.sexo !== ''; else elseBlockSexo">
          <input pInputText id="sexo" type="text" [(ngModel)]="perfilU.sexo" [disabled]="true"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
      </p-floatLabel>
      <p-floatLabel>
        <ng-template #elseBlockSexo>
          <input pInputText id="sexo" type="text" [(ngModel)]="perfilU.sexo" [disabled]="true" aria-describedby="sexo-help"
            class="ng-invalid ng-dirty p-2"
            >
            <div>
              <small id="sexo-help">
                {{usuarioGYM.nombre}} debes actualizar tu perfil con la inofrmacion de este campo.
              </small>
            </div>
        </ng-template>
      </p-floatLabel>
    </div>
  </div>
  <div class="field grid">
    <label for="edad" class="col-fixed" style="width:100px">Edad</label>
    <div class="col">
      <p-floatLabel>
        <div *ngIf="perfilU.edad !== 0; else elseBlockEdad">
          <input pInputText id="edad" type="number" [(ngModel)]="perfilU.edad" [disabled]="true" aria-describedby="edad-help"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <ng-template #elseBlockEdad>
          <input pInputText id="edad" type="number" [(ngModel)]="perfilU.edad" [disabled]="true"
            class="ng-invalid ng-dirty p-2"
          >
          <div>
            <small id="edad-help">
              {{usuarioGYM.nombre}} debes actualizar tu perfil con la inofrmacion de este campo.
            </small>
          </div>
        </ng-template>
      </p-floatLabel>
    </div>
  </div>
  <div class="field grid">
    <label for="peso" class="col-fixed" style="width:100px">Peso</label>
    <div class="col">
      <p-floatLabel>
        <div *ngIf="perfilU.peso !== 0; else elseBlockPeso">
          <input pInputText id="peso" type="number" [(ngModel)]="perfilU.peso" [disabled]="true" aria-describedby="peso-help"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
        </div>
        <ng-template #elseBlockPeso>
          <input pInputText id="peso" type="number" [(ngModel)]="perfilU.peso" [disabled]="true"
            class="ng-invalid ng-dirty p-2">
            <div>
              <small id="peso-help">
                {{usuarioGYM.nombre}} debes actualizar tu perfil con la inofrmacion de este campo.
              </small>
            </div>
        </ng-template>
      </p-floatLabel>
    </div>
  </div>
  <!--Fin Formulario Principal: Perfil -->
  <!--
    Botones y levantamiento de modales
  -->
  <!--Modal para modificacion de perfil-->
  <div *ngIf="cambioBoton === true; else elseBlockBoton">
    <div class="py-5">
      <p-button label="Modificar Perfil" (onClick)="handleDialog(perfilU.id)"></p-button>
    </div>
    <p-dialog header="Modificar Perfil" [modal]="true" [(visible)]="showDialog" [style]="{width: '35rem'}">
      <span class="p-text-secondary block mb-2">Actualiza tu Información de Perfil.</span>
      <div class="flex align-items-center gap-3 mb-2">
        <label for="idPerfil" class="font-semibold w-6rem">Id. Perfil</label>
        <input pInputText id="idPerfil" type="text" class="flex-auto" autocomplete="off" [(ngModel)]="perfilEntity.id" [disabled]="true"/>
      </div>
      <div class="flex align-items-center gap-3 mb-2">
        <label for="idUsuario" class="font-semibold w-6rem">Id. Usuario</label>
        <input pInputText id="email" type="text" class="flex-auto" autocomplete="off" [(ngModel)]="perfilEntity.idUsuario" [disabled]="true"/>
      </div>
      <div *ngIf="perfilEntity.edad !== null; else elseBlockEdadM">
        <div class="flex align-items-center gap-3 mb-2">
          <label for="edad" class="font-semibold w-6rem">Edad</label>
          <p-inputNumber #edadInput inputId="minmax" mode="decimal" [(ngModel)]="perfilEntity.edad" id="edad"/>
        </div>
      </div>
      <ng-template #elseBlockEdadM>
        <div class="flex align-items-center gap-3 mb-2">
          <label for="edad" class="font-semibold w-6rem">Edad</label>
          <p-inputNumber #edadInput
            inputId="minmax"
            mode="decimal"
            [(ngModel)]="perfilEntity.edad"
            id="edad"
            [min]="1"
            [max]="100"
            class="ng-invalid ng-dirty"
            aria-describedby="EdadM-help"
          />
          <div>
            <small id="EdadM-help">
              {{usuarioGYM.nombre}} debes actualizar tu perfil con la inofrmacion de este campo.
            </small>
          </div>
        </div>
      </ng-template>
      <div *ngIf="perfilEntity.peso !== null; else elseBlockPesoM">
        <div class="flex align-items-center gap-3 mb-2">
          <label for="peso" class="font-semibold w-6rem">Peso</label>
          <p-inputNumber inputId="minmaxfraction" mode="decimal" [(ngModel)]="perfilEntity.peso" id="peso" [minFractionDigits]="2" [maxFractionDigits]="3"/>
        </div>
      </div>
      <ng-template #elseBlockPesoM>
        <div class="flex align-items-center gap-3 mb-2">
          <label for="peso" class="font-semibold w-6rem">Peso</label>
          <p-inputNumber
            inputId="minmaxfraction"
            mode="decimal"
            [(ngModel)]="perfilEntity.peso"
            id="peso"
            min="0"
            max="100"
            [minFractionDigits]="2"
            [maxFractionDigits]="3"
            class="ng-invalid ng-dirty"
            aria-describedby="PesoM-help"
          />
          <div>
            <small id="PesoM-help">
              {{usuarioGYM.nombre}} debes actualizar tu perfil con la inofrmacion de este campo.
            </small>
          </div>
        </div>
      </ng-template>
        <div class="flex align-items-center gap-3 mb-2">
          <label for="sexo" class="font-semibold w-6rem">Tipo Sexo</label>
          <p-listbox
              [options]="kSex"
              [(ngModel)]="selectedSex"
              optionLabel="tipo"
              [style]="{'width':'15rem'}"
              [listStyle]="{'max-height': '220px'}" />
        </div>
        <div class="flex justify-content-end gap-3 mt-5">
          <p-button label="Cancel" severity="secondary" (click)="showDialog = false"/>
          <p-button label="Save" (click)="handleBotonGuardar()" [disabled]="false"/>
        </div>
    </p-dialog>
  </div>
  <!--modal para crear perfil-->
  <ng-template #elseBlockBoton>
    <p-button label="Crear Perfil" (onClick)="showDialog = true"></p-button>
    <p-dialog header="Crear Perfil" [modal]="true" [(visible)]="showDialog" [style]="{width: '25rem'}">
      <p>Hola aqui crearas el perfil</p>
    </p-dialog>
  </ng-template>
</p-card>

