<div class="field grid">
  <label for="nombre" class="col-fixed" style="width:100px">Nombre</label>
  <div class="col">
      <input id="nombre" type="text" [(ngModel)]="perfilU.datosUsuario.nombre" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
<div class="field grid">
  <label for="apellido" class="col-fixed" style="width:100px">Apellidos</label>
  <div class="col">
      <input id="apellido" type="text" [(ngModel)]="perfilU.datosUsuario.apellidos" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
<div class="field grid">
  <label for="email" class="col-fixed" style="width:100px">Email</label>
  <div class="col">
      <input id="email" type="text" [(ngModel)]="perfilU.datosUsuario.email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
<div class="field grid">
  <label for="sexo" class="col-fixed" style="width:100px">Sexo</label>
  <div class="col">
      <input id="sexo" type="text" [(ngModel)]="perfilU.sexo" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
<div class="field grid">
  <label for="edad" class="col-fixed" style="width:100px">Edad</label>
  <div class="col">
      <input id="edad" type="number" [(ngModel)]="perfilU.edad" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
<div class="field grid">
  <label for="peso" class="col-fixed" style="width:100px">Peso</label>
  <div class="col">
      <input id="peso" type="number" [(ngModel)]="perfilU.peso" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
  </div>
</div>
