<p>list-profile works!</p>
<div class="contenedor">
  <p-table
    [value]="listadoUsuarios"
    responsiveLayout="stack"
    [breakpoint]="'959px'"
    [tableStyle]="{'min-width': '23rem'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th>Nombre</th>
          <th class="celular">Apellidos</th>
          <th class="celular">Email</th>
          <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title">Nombre</span>{{usuario.nombre}}
        </td>
        <div class="celular">
          <td>
            {{usuario.apellidos}}
          </td>
        </div>
        <div class="celular">
          <td>
            {{usuario.email}}
          </td>
        </div>

        <td>
          <span class="p-column-title">Acción</span>
          <p-confirmPopup/>
          <p-button
            [rounded]="true"
            icon="pi pi-eye"
            severity="success"
            (onClick)="onViewProfile(usuario, $event)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- Inicio del formulario-->
<div>
  <p-dialog
    header="Header"
    [(visible)]="visibleForm"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false">
    <!--Form-->
    <div>
      <form action="">

      </form>
    </div>
  </p-dialog>
</div>
