<div class="mb-3">
  <p-breadcrumb
        class="max-w-full"
        [model]="items"
        [home]="home" />
</div>
<div class="lg:p-8 p-3">
  <div class="border-round-lg border-300 border-solid">
    <p-table
      [value]="allZonasC"
      responsiveLayout="stack"
      [paginator]="true"
      [breakpoint]="'960px'"
      [tableStyle]="{'min-width': '23rem'}"
      [rows]="3"
      [rowsPerPageOptions]="[2, 3]">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Parte Corporal</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-zc let-columns="columns">
          <tr>
            <td>
                <span class="p-column-title">Zona Corporal</span>{{zc.zonaCorporal}}
            </td>
            <td class="p-column-title">
              <span class="p-column-title">Eliminar Registro</span>
              <p-confirmDialog/>
              <p-button
                [rounded]="true"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"
                (onClick)="onSelectZC(zc, $event)"
              ></p-button>
            </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mt-5">
    <p-button
      label="Nueva Zona Corporal"
      size="small"
      (onClick)="handleModalCZC()"
      [raised]="true"
      severity="warning"
      />
  </div>
  <!--Inicio Modal de creacion de Zona Corporal-->
  <div>
    <p-dialog header="Nueva Zona Corporal"
    [(visible)]="visibleMCZC"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false">
      <div class="border-solid border-300 lg:border-round-lg border-round-sm h-24rem flex px-3 row-gap-8">
        <form [formGroup]="formZC" (submit)="onSaveZC($event)">
          <div class="pt-2 h-10rem flex">
            <p-dropdown
              formControlName="zonaCorporal"
              [options]="arrayZC"
              optionLabel="zc"
              placeholder="Seleccione una Zona Corporal"
            />
          </div>
          <div class="flex botonGuardar">
            <p-button
              type="submit"
              [disabled]="formZC.invalid"
              label="Guardar"
              size="small"
            />
          </div>
        </form>
      </div>
    </p-dialog>
  </div>
</div>
