<div class="mb-3">
  <p-breadcrumb
        class="max-w-full"
        [model]="items"
        [home]="home" />
</div>
<p-fieldset [legend]="cabezeraFormularioP">
  <form [formGroup]="perfilCompleto">
    <div class="field grid">
      <label for="email" class="col-fixed" style="width:100px">Email</label>
      <div class="col">
          <input id="email" formControlName="email" type="text" class="text-base text-color surface-overlay w-3 p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="edad" class="col-fixed" style="width:100px">Edad</label>
      <div class="col">
          <input id="edad" formControlName="edad" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="peso" class="col-fixed" style="width:100px">Peso</label>
      <div class="col">
          <input id="peso" formControlName="peso" type="number" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
      </div>
    </div>
    <div class="field grid">
      <label for="genero" class="col-fixed" style="width:100px">Genero</label>
      <div class="col">
        <input id="generofemenino" type="radio" formControlName="sexo" value="Femenino">
          <label for="generofemenino">Femenino </label>
          <input id="generomasculino" type="radio" formControlName="sexo" value="Masculino">
          <label for="generomasculino">Masculino</label>
      </div>
    </div>
  </form>
</p-fieldset>
@if (crearPerfilH === false) {
  <div class="my-5">
    <p-button (click)="onHandlePerfil()">Modificar Perfil</p-button>
  </div>
  <p-dialog header="Actualizar Perfil" [modal]="true" [(visible)]="visible" [style]="{width:'25rem'}">
    <div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
        <div class="field grid">
          <label for="idP" class="col-fixed" style="width:100px">Id. Perfil</label>
          <div class="col">
            <input id="idP" type="text" formControlName="id" class="text-base text-color surface-overlay p-2 w-11 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
        </div>
        <div class="field grid">
          <label for="idU" class="col-fixed" style="width:100px">Id. Usuario</label>
          <div class="col">
            <input id="idU" type="text" formControlName="idusuario" class="text-base text-color surface-overlay p-2 w-11 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
        </div>
        <div class="field grid">
          <label for="edad" class="col-fixed" style="width:100px">Edad</label>
          <div class="col">
            <input id="edad" type="number" formControlName="edad" class="text-base text-color surface-overlay p-2 w-4 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            @if (profileForm.get('edad')?.invalid && profileForm.get('edad')?.touched) {
              @if (profileForm.get('edad')?.errors?.['invalidAge']) {
                <div>
                  <p class="text-red-400">La Edad debe ser mayor de 10 y menor que 100</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="field grid">
          <label for="peso" class="col-fixed" style="width:100px">Peso</label>
          <div class="col">
            <input id="idU" type="number" formControlName="peso" class="text-base text-color surface-overlay p-2 w-4 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            @if (profileForm.get('peso')?.invalid && profileForm.get('peso')?.touched) {
              @if (profileForm.get('peso')?.errors?.['invalidWeigth']) {
                <div>
                  <p class="text-red-400">El peso debe ser mayor que 0</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="field grid">
          <label for="genero" class="col-fixed" style="width:100px">Genero</label>
          <div class="col">
            <input id="generofemenino" type="radio" formControlName="sexo" value="Femenino">
            <label for="generofemenino">Femenino </label>
            <input id="generomasculino" type="radio" formControlName="sexo" value="Masculino">
            <label for="generomasculino">Masculino</label>
            @if (profileForm.get('sexo')?.invalid && profileForm.get('sexo')?.touched) {
              @if (profileForm.get('sexo')?.errors?.['required']) {
                <div>
                  <p class="text-red-400">Seleccione una opción</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="my-5">
          <p-button type="submit" [disabled]="profileForm.invalid">Guardar</p-button>
        </div>
      </form>
    </div>
  </p-dialog>

}
@else {
  <div class="my-5">
    <p-button (click)="onHandlePerfil()">Crear Perfil</p-button>
  </div>
  <p-dialog header="Crear Perfil" [modal]="true" [(visible)]="visible" [style]="{width:'25rem'}">
    <div>
      <form [formGroup]="profileFormC" (ngSubmit)="onSubmit($event)">
        <div class="filed grid">
          <label for="idU" class="col-fixed" style="width:100px">Id. Usuario</label>
          <div class="col">
            <input id="idU" type="text" formControlName="idusuario" class="text-base text-color surface-overlay p-2 w-11 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
        </div>
        <div class="filed grid">
          <label for="edad" class="col-fixed" style="width:100px">Edad</label>
          <div class="col">
            <input id="edad" type="number" formControlName="edad" class="text-base text-color surface-overlay p-2 w-4 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            @if (profileFormC.get('edad')?.invalid && profileFormC.get('edad')?.touched) {
              @if (profileFormC.get('edad')?.errors?.['invalidAge']) {
                <div>
                  <p class="text-red-400">La Edad debe ser mayor de 10 y menor que 100</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="filed grid">
          <label for="peso" class="col-fixed" style="width:100px">Peso</label>
          <div class="col">
            <input id="idU" type="number" formControlName="peso" class="text-base text-color surface-overlay p-2 w-4 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            @if (profileFormC.get('peso')?.invalid && profileFormC.get('peso')?.touched) {
              @if (profileFormC.get('peso')?.errors?.['invalidWeigth']) {
                <div>
                  <p class="text-red-400">El peso debe ser mayor que 0</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="filed grid">
          <label for="genero" class="col-fixed" style="width:100px">Genero</label>
          <div class="col">
            <input id="genero" type="radio" formControlName="sexo" value="Femenino"> Femenino
            <input id="genero" type="radio" formControlName="sexo" value="Masculino"> Masculino
            @if (profileFormC.get('sexo')?.invalid && profileFormC.get('sexo')?.touched) {
              @if (profileFormC.get('sexo')?.errors?.['required']) {
                <div>
                  <p class="text-red-400">Seleccione una opción</p>
                </div>
              }
            }
          </div>
        </div>
        <div class="my-5">
          <p-button type="submit" [disabled]="profileFormC.invalid">Guardar</p-button>
        </div>
      </form>
    </div>
  </p-dialog>

}



